doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Live Bands
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/full-slider.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') iLounge.co
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/#services') Services
            li
              a(href='/portfolio') Portfolio
            li
              a(href='/#team') Team
            li
              a(href='/#contact') Contact
        // /.navbar-collapse
      // /.container
    // Full Page Image Background Carousel Header
    header#myCarousel.carousel.slide
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
        li(data-target='#myCarousel', data-slide-to='5')
        li(data-target='#myCarousel', data-slide-to='6')
      // Wrapper for Slides
      .carousel-inner
        .item.active
          // Set the first background image using inline CSS below.
          .fill(style="background-image:url('/images/img/patd.jpg');")
          .carousel-caption
            h2 Panic! At the Disco
        .item
          // Set the second background image using inline CSS below.
          .fill(style="background-image:url('/images/img/atl.jpg');")
          .carousel-caption
            h2 All Time Low
        .item
          // Set the second background image using inline CSS below.
          .fill(style="background-image:url('/images/img/para.jpg');")
          .carousel-caption
            h2 Paramore
        .item
          // Set the second background image using inline CSS below.
          .fill(style="background-image:url('/images/img/fun.jpg');")
          .carousel-caption
            h2 FUN
        .item
          // Set the second background image using inline CSS below.
          .fill(style="background-image:url('/images/img/taar.jpg');")
          .carousel-caption
            h2 The All American Rejects
        .item
          // Set the second background image using inline CSS below.
          .fill(style="background-image:url('/images/img/day.jpg');")
          .carousel-caption
            h2 Green Day
        .item
          // Set the third background image using inline CSS below.
          .fill(style="background-image:url('/images/img/fob.jpg');")
          .carousel-caption
            h2 Fall Out Boy
      // Controls
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
      a.right.carousel-control(href='#myCarousel', data-slide='next')
        span.icon-next
    // Page Content
    .container
      .row
        .col-lg-12
          h1 How much would it cost to book your favorite band?
          h3 Panic! At the Disco: $50k +
          h3 All Time Low: $50k +
          h3 Fall Out Boy: $100-150k
          h3 Paramore: $125-150k
          h3 Greenday: $500k
          h3 My Chemical Romance: 500k
          h3 The All-American Rejects: $50-75k
          h3 Fun: $200-400k
      hr
      // Footer
      footer
        .row
          .col-lg-12.text-center
            p Copyright © iLounge.co 2017
        // /.row
    // /.container
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    // Script to Activate the Carousel
    script.
      $('.carousel').carousel({
      interval: 5000 //changes the speed
      })
