doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title About the Band
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrapab.min.css', rel='stylesheet')
    link(href='/stylesheets/tour.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/full-width-pics.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') iLounge.co
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/#services') Services
            li
              a(href='/porfolio') Portfolio
            li
              a(href='/#team') Team  
            li
              a(href='/#contact') Contact
        // /.navbar-collapse
      // /.container
    // Full Width Image Header with Logo
    // Image backgrounds are set within the full-width-pics.css file.
    header.image-bg-fluid-height
      img.img-responsive.img-center(src='/images/h.png', alt='')
    // Content Section
    section
      .container
        .row
          .col-lg-12
            h1.section-heading Biography
            p.lead.section-lead The Beginning
            p.section-paragraph
              | Panic at the Disco (formed 2004)
              | Panic at the Disco (formerly spelled Panic! at the Disco) is a band from Las Vegas. Their sound features various influences, such as electronica, rock, dance and punk. Panic at the Disco formed in Summerlin, Las Vegas. Ryan Ross (guitar) and Spencer Smith (drums) were childhood friends. They started off playing Blink-182 covers, in various guises, and then created the band 'Summer League' with Brent Wilson and Trevor (who has since left the band). At Palo Verde High School, Wilson met Brendon Urie and he was invited to play guitar for the band. When they heard him sing, however, he was instantly promoted to lead singer status.
              | Pete Wentz, of Fall Out Boy signed Panic at the Disco to his Decaydance label after they sent him a link to their PureVolume site.
    // Fixed Height Image Aside
    // Image backgrounds are set within the full-width-pics.css file.
    aside.image-bg-fixed-height
    // Content Section
    section
      .container
        .row
          .col-lg-12
            h1.section-heading The Rise to Fame
            p
              | Panic at the Disco's debut album, A Fever You Can't Sweat Out was released in 2005. Although the band gradually built a fanbase via MySpace and their PureVolume site, the album was not recognized on any significant commercial scale. In January 2006, the band was featured on MTV's Total Request Live show, where the video for 'I Write Sins, Not Tragedies' was shown for the first time.
            p
              | The video later won Video of the Year at the MTV Video Music Awards. The single reached number seven in the US charts. The band's newfound popularity saw them pushed up to second-billing on the Truckstops & Statelines Winter Tour in 2006 and their album outsold that of the headliner's (The Academy Is.) during the tour.Panic at the Disco's second single, 'But It's Better If You Do', was released in May 2006, peaking at number 23 in the UK charts.
            p
              | That same month, Brent Wilson left the band. He claims that he was fired, following an argument about the band's finances, but the rest of the band deny this. Jon Walker, a long-term friend of the band, took over Wilson's duties on bass following his departure. They underwent their first European headline tour, followed by a US tour supporting bands such as OK Go and the Dresden Dolls.
            p
              | In August 2006, A Fever You Can't Sweat Out was certified Platinum, as the album had sold over one million copies. That month, the band played at Reading Festival in England and Brendan Urie was temporarily knocked out, having been struck by a bottle thrown by an audience member.
            p.lead.section-lead
              | In late 2006, Panic at the Disco began touring with Bloc Party but Bloc Party were forced to pull out when drummer Matt Tong suffered a punctured lung. They were replaced with Plain White T's and then Cobra Starship. Panic at the Disco were featured on a special edition soundtrack to Tim Burton's animated film The Nightmare Before Christmas, covering 'This Is Halloween'. They also covered Smashing Pumpkins' 'Tonight, Tonight' for a compilation given away with Spin magazine in June 2007.
            p.section-paragraph
              | The band's second album was released in March 2008, entitled Prettty.Odd. Prior to the album's release, a series of puzzles appeared on the band's websites, revealing lyrics, artwork and samples from the album. The album reached number two in both the UK charts and the US charts. It was also a number one hit in Australia.
          // Wrapper for slides
          .carousel-inner
            #slide-1.item.active
              img.hidden-xs(src='//cdn.shopify.com/s/files/1/1588/7935/t/3/assets/slide-1-image.jpg?16390681236549232173', alt='')
              img.visible-xs(src='//cdn.shopify.com/s/files/1/1588/7935/t/3/assets/slide-1-mobile-image.jpg?16390681236549232173', alt='')
              .carousel-caption
        // /.row
      // /.container
    // Footer
    footer
      .container
        .row
          .col-lg-12.text-center
            p Copyright © iLounge 2017
        // /.row
      // /.container
    // jQuery
    script(src='/javascrits/jqueryab.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrapab.min.js')
     // jQuery
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    
